@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}
/* body{
  /* font-family: 'Inter'; 
} */
/* .swiper{
  width:100%;
  height:60%;
} */
.swiper-pagination-bullet{
  width:30px;
  height: 3px;
  background: #000000;
  border-radius: 5px;
/* opacity: 0.5; */
}